body{
    background-color: #BCFFB9;
}
hr{
    border-style: none;
    border-top-style: dotted;
border-color: grey;
border-width: 5px;
    width: 5%;
    
}
img:hover{
    border-radius: 100%;
   background-color: rgb(46, 46, 187);
}

/**********************contactPage***********************/
input{
    margin: 1rem;
padding: 0.5rem;
}
.contact{
   background-color: antiquewhite; 
   border-radius: 1em;
   display:relative;
  
   text-align: center;
 
   
}
table{
    margin-left: auto;
    margin-right: auto;
}
